<configuration>
    <contextName>cerit-stats</contextName>
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="APP"/>
    </root>

    <logger name="org.springframework" level="warn"/>
    <logger name="org.springframework.web.context.ContextLoader" level="info"/>
    <logger name="cz" level="error"/>
    <logger name="cz.muni.ics.cerit.stats" level="warn"/>
    <logger name="cz.cesnet.meta.cloud.CloudPhysicalHost" level="error"/>

    <logger name="cz.muni.ics.cerit.stats.Stats" level="info"/>
    <logger name="cz.muni.ics.cerit.stats.AccountingImpl" level="warn"/>
    <logger name="cz.muni.ics.cerit.stats.ScheduledDowntimesImpl" level="info"/>
    <logger name="cz.muni.ics.cerit.stats.ScheduledDowntimeSync" level="info"/>

</configuration>
