<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <bean id="pbs" class="cz.muni.ics.cerit.stats.PbsImpl" >

        <property name="pbsURLs">
            <list>
                <value>https://metavo.metacentrum.cz/pbsmon2/api/nodes?serverName=wagap.cerit-sc.cz</value>
            </list>
        </property>
    </bean>

    <bean id="nebula" class="cz.muni.ics.cerit.stats.OpenNebulaImpl" >
        <property name="physicalHostsURL" value="http://carach1.ics.muni.cz:12147/exports/hosts.json"/>
        <property name="vmsURL" value="http://carach1.ics.muni.cz:12147/exports/vms.json"/>
    </bean>

    <bean id="scheduledDowntimes" class="cz.muni.ics.cerit.stats.ScheduledDowntimesImpl" >
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="acct" class="cz.muni.ics.cerit.stats.AccountingImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="perun" class="cz.cesnet.meta.perun.impl.PerunJsonImpl">
        <constructor-arg>
            <list value-type="java.lang.String">
                <value>/etc/pbsmon/pbsmon_machines.json</value>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list value-type="java.lang.String">
            </list>
        </constructor-arg>
    </bean>

    <tx:annotation-driven/>

    <context:property-placeholder location="classpath:config.properties"/>

    <!-- PostgreSQL -->
    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="${postgresql.url}"/>
        <property name="username" value="${postgresql.user}"/>
        <property name="password" value="${postgresql.password}"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>



</beans>
